<footer class="footer">
  <div class="container">
    <div class='row'>
     <div class="footer-upper">
       <div class="footer-logo-block">

         <picture class="footer-picture">
           <source srcset="./img/footer/footer-vegetables.png 1x ,./img/footer/footer-vegetables@2x.png 2x" media="(min-width: 1158px)" width='349'>
           <source srcset="./img/footer/footer-vegetables.png 1x , ./img/footer/footer-vegetables@2x.png 2x" media="(min-width: 768px)" width='349'>
           <source srcset=" ./img/footer/footer-vegetables.png 1x,./img/footer/footer-vegetables@2x.png 2x" media="(max-width: 767px)">
           <img src="../img/footer/footer-vegetables.png" alt="footer-img" >
         </picture>

         <a href="./index.html" class="footer-logo link">
          <svg class="foter-logo-icon" width="16" height="16">
            <use href="./img/footer/footer-sprites.svg#logo-footer"></use>
          </svg>
          VEGGIEBOOST
          </a>
       </div>

        <ul class="footer-list list">
          <li class="footer-item"><a href="#how-it-works" class="footer-link link">How It Works</a></li>
          <li class="footer-item"><a href="#vegetables" class="footer-link link">Vegetables</a></li>
          <li class="footer-item"><a href="contacts" class="footer-link link">Contacts</a></li>
        </ul>
     </div>

    <div class="soc-address-block">
       <ul class="footer-soc-list list">
         <li class="footer-soc-item">
           <a href="" class="footer-soc-link link"
              target="_blank"
              rel="noopener noreferrer">
               <svg class="footer-soc-icon" width="24" height="24">
               <use href="./img/footer/footer-sprites.svg#facebook-footer"></use>
              </svg>
           </a>
         </li>
         <li class="footer-soc-item">
           <a href="" class="footer-soc-link link"
              target="_blank"
              rel="noopener noreferrer">
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/footer/footer-sprites.svg#instagram-footer"></use>
               </svg>
           </a>
         </li>
         <li class="footer-soc-item">
           <a href="" class="footer-soc-link link"
              target="_blank"
              rel="noopener noreferrer">
              <svg class="footer-soc-icon" width="24" height="24">
              <use href="./img/footer/footer-sprites.svg#youtube-footer"></use>
              </svg>
           </a>
         </li>
       </ul>

       <address class="footer-address">
       <ul class="footer-address-list list">
         <li class="footer-address-item"><a href="tel:+380684439426" class="footer-tel-link link">+380 (68) 443-94-26</a></li>
         <li class="footer-address-item"><a href="https://goo.gl/maps/qxLoGifw9rkCHXPo7" target='_blank' rel='noopener nofollow noreferrer' class="footer-address-link link">1678 S.Pioneer Road Salt Lake City <br> UT 84104</a></li>
       </ul>
       </address>
    </div>
    </div>
  </div>
 </footer>