<header class="header">
  <div class="container header-container">
    <nav class="nav visually-hidden">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#howitworks">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="#vegetables">Vegetables</a>
        </li>
        <li class="nav-item">
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-mob">
      <a class="logo link" href="">
        <svg class="logo-svg" width="16" height="16">
          <use href="../img/vegetables/svg/header.svg#icon-vector"></use>
        </svg>
        <span class="logo-text">VEGGIEBOOST</span>
      </a>
      <button type="button" class="button" data-menu-open>
        <svg class="menu-svg" width="24" height="24">
          <use href="../img/vegetables/svg/header.svg#icon-gg_menu-left"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <div class="header-mob-open">
      <a class="logo link" href="">
        <svg class="logo-svg" width="16" height="16">
          <use href="../img/vegetables/svg/header.svg#icon-vector"></use>
        </svg>
        <span class="logo-text">VEGGIEBOOST</span>
      </a>
      <button type="button" class="button" data-menu-close>
        <svg class="menu-svg" width="24" height="24">
          <use href="../img/vegetables/svg/header.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <nav class="nav">
      <ul class="nav-list list">
        <li class="nav-item">
          <a class="nav-text link" href="#howitworks">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-text link" href="#vegetables">Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-text link" href="#contacts">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="link" href="">
            <svg class="shop-svg" width="20" height="20">
              <use
                href="../img/vegetables/svg/header.svg#icon-shopping-cart"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<script>
  (() => {
    const refs = {
      openMenuBtn: document.querySelector('[data-menu-open]'),
      closeMenuBtn: document.querySelector('[data-menu-close]'),
      menu: document.querySelector('[data-menu]'),
    };

    refs.openMenuBtn.addEventListener('click', toggleMenu);
    refs.closeMenuBtn.addEventListener('click', toggleMenu);

    function toggleMenu() {
      refs.menu.classList.toggle('is-hidden');
      document.body.classList.toggle('no-scroll');
    }
  })();
</script>
