<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link current" href="#how">How It Works</a>
        </li>
        <li class="header-item">
          <a class="header-nav-link link" href="#products">Vegetables</a>
        </li>
        <li class="header-item">
          <a class="header-nav-link link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="header-logo-container">
      <span class="header-logo-span">
        <svg class="header-logo-svg" width="16" height="16">
          <use href="./img/header-test-icons.svg#icon-vector-4"></use>
        </svg>
      </span>
      <a class="header-logo-link link" href="./index.html">Veggieboost</a>
    </div>
    <button class="mobile-menu-open-btn" data-menu-open type="button">
      <svg class="open-menu-icon" width="24" height="24">
        <use href="./img/header-test-icons.svg#icon-gg_menu-left"></use>
      </svg>
    </button>
    <button class="header-shopping-btn js-open-modal">
      <svg class="header-shopping-icon" width="20" height="20">
        <use href="./img/header-test-icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>
    <button type="button" class="mobile-menu-close-button d-none" data-menu-close>
      <svg class="mobile-menu-close-svg" width="24" height="24">
        <use href="./img/header-test-icons.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <nav class="nav">
      <ul class="nav-list js-nav-list list">
        <li class="nav-item">
          <a class="nav-text link" href="#how">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-text link" href="#products">Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-text link" href="#contacts">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="link" href="">
            <svg class="shop-svg" width="20" height="20">
              <use href="./img/header-test-icons.svg#icon-shopping-cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
