<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link current" href="">How It Works</a>
        </li>
        <li class="header-item">
          <a class="header-nav-link link" href="">Vegetables</a>
        </li>
        <li class="header-item">
          <a class="header-nav-link link" href="">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="header-logo-container">
      <span class="header-logo-span">
        <svg class="header-logo-svg" width="16" height="16">
          <use href="../img/icons.svg#icon-vector-4"></use>
        </svg>
      </span>
      <a class="header-logo-link link" href="./index.html">Veggieboost</a>
    </div>
    <button class="mobile-menu-open-btn" type="button">
      <svg class="open-menu-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-gg_menu-left"></use>
      </svg>
    </button>
    <button class="header-shopping-btn">
      <svg class="header-shopping-icon" width="20" height="20">
        <use href="../img/icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>
  </div>
</header>
