<!--
Зелений фон на весь екран.
Зображення з дівченою робимо через img (не в стилях)
Кнопки та відгуки - цe <ul>
-->

<section class="section hero">
  <div class="container">
    <div class="hero-top">
      <ul class="user-list list">
        <li class="user-item">
          <img
            class="user-img"
            srcset="./img/hero/user-1@2.jpg 2x"
            src="./img/hero/user-1.jpg"
            alt=""
            width="40"
            height="40"
          />
        </li>
        <li class="user-item">
          <img
            class="user-img"
            srcset="./img/hero/user-2@2.jpg 2x"
            src="./img/hero/user-2.jpg"
            alt=""
            width="40"
            height="40"
          />
        </li>
        <li class="user-item">
          <img
            class="user-img"
            srcset="./img/hero/user-3@2.jpg 2x"
            src="./img/hero/user-3.jpg"
            alt=""
            width="40"
            height="40"
          />
        </li>
        <li class="user-item">
          <div class="user-text-wrap">
            <p class="user-item-2k">2K</p>
            <p class="user-item-text">reviews</p>
          </div>
        </li>
      </ul>
      <h1 class="hero-title">
        organic <span>vegetables</span> to your diet today!
      </h1>
      <p class="hero-text">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <button class="hero-btn" type="button">shop now</button>
    </div>
    <div class="hero-bot">
      <img
        class="hero-img"
        srcset="./img/hero/hero@2.png 2x"
        src="../img/hero/hero.png"
        alt=""
        width="278"
        height="228"
      />
      <ul class="hashtags list">
        <li class="hashtag-item">
          <button class="hashtag-btn" type="button">#organic</button>
        </li>
        <li class="hashtag-item">
          <button class="hashtag-btn" type="button">#products</button>
        </li>
        <li class="hashtag-item">
          <button class="hashtag-btn" type="button">#basket</button>
        </li>
        <li class="hashtag-item">
          <button class="hashtag-btn" type="button">#vegetables</button>
        </li>
      </ul>
    </div>
  </div>
</section>
