<section class='section how' id='how'>
  <div class='container'>
    <!--      Владислав -->
    <div class='row how-text'>

    </div>
    <!--      Катя -->
    <div class='row how-steps steps-wrapper'>
    <div class="steps-content-wrapp">
        <h3 class="steps-title">3 Easy Steps for Buying Fresh Vegetables</h3>
        <ol class="steps-list js-steps">
          <li class="steps-item">
            <span class="steps-number js-step-counter"></span>
            <span class="steps-item-text">
              Just choose the vegetable you want to order by clicking on the
              checkboxes next to it.</span
            >
          </li>
          <li class="steps-item ">
            <span class=" steps-number js-step-counter"></span>
            <span class="steps-item-text"
              >Click on the basket and fill<br> out the form.</span
            >
          </li>
          <li class="steps-item ">
               <span class=" steps-number js-step-counter"></span>
            <span class="steps-item-text"
              >Sit back and relax! Your fresh vegetables basket will be
              delivered.</span
            >
          </li>
        </ol>
    </div>
        <picture class="steps-picture">
      <source srcset="./img/steps/img-girl-desktop.png 1x,./img/steps/img-girl-desktop@2x.png 2x" media="(min-width: 1279px)">
      <source srcset="./img/steps/img-girl-tablet.png 1x, ./img/steps/img-girl-tablet@2x.png 2x" media="(min-width: 768px)">
      <img class="steps-image" srcset="./img/steps/img-girl@2x.png 2x" src="./img/steps/img-girl.png" alt="girl with vegetables">
    </picture>
      </div>
    </div>
  </div>
</section>