<section class="section how" id="how">
  <div class="container">
    <!--      Владислав -->
    <div class="row how-text">
      <div class="title-container">
        <h2 class="how-text-title">
          To order your vegetable basket, simply follow these easy steps
        </h2>
      </div>

      <div class="img-container">
        <picture>
          <source
            srcset="
              ../img/how-img/desktop/vegetables-desktop.jpg    1x,
              ../img/how-img/desktop/vegetables-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/how-img/tablet/vegetables-tablet.jpg    1x,
              ../img/how-img/tablet/vegetables-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/how-img/mobile/vegetables-mobile.jpg    1x,
              ../img/how-img/mobile/vegetables-mobile@2x.jpg 2x
            "
            media="(max-width: 375px)"
          />
          <img
            srcset="../img/how-img/mobile/vegetables-mobile@2x.jpg"
            class="how-text-img"
            src="../img/how-img/mobile/vegetables-mobile.jpg"
            alt="vegetable"
          />
        </picture>
      </div>

      <div class="text-container">
        <p class="how-text-first">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <p class="how-text-second">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
    </div>
    <!--      Катя -->
    <div class="row how-steps"></div>
  </div>
</section>
