<section class="section how" id="how">
  <div class="container">
    <!--      Владислав -->
    <div class="row how-text">
      <div class="how-top-wraper">
        <div class="how-text-title-container">
          <h2 class="how-text-title">
            To order your vegetable basket, simply follow these easy steps
          </h2>
        </div>

        <div class="how-text-img-container">
          <picture>
            <source
              srcset="
                ./img/how-img/desktop/vegetables-desktop.webp    1x,
                ./img/how-img/desktop/vegetables-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
              width='410'
              height='170'
            />
            <source
              srcset="
                ./img/how-img/tablet/vegetables-tablet.webp    1x,
                ./img/how-img/tablet/vegetables-tablet@2x.webp 2x
              "
              width='310'
              height='176'
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/how-img/mobile/vegetables-mobile.webp    1x,
                ./img/how-img/mobile/vegetables-mobile@2x.webp 2x
              "
              width='335'
              height='158'
              media="(max-width: 375px)"
            />
            <img
              srcset="./img/how-img/mobile/vegetables-mobile@2x.webp"
              class="how-text-img"
              src="./img/how-img/mobile/vegetables-mobile.webp"
              alt="vegetable"
              width='335'
              height='158'
            />
          </picture>
        </div>
      </div>

      <div class="how-text-container">
        <p class="how-text-first">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <p class="how-text-second">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
    </div>
    <!--      Катя -->
    <div class='row how-steps steps-wrapper'>
      <div class="steps-content-wrapp">
        <h3 class="steps-title">3 Easy Steps for Buying Fresh Vegetables</h3>
        <ol class="steps-list js-steps">
          <li class="steps-item">
            <span class="steps-number js-step-counter"></span>
            <span class="steps-item-text">
                Just choose the vegetable you want to order by clicking on the
                checkboxes next to it.</span
            >
          </li>
          <li class="steps-item ">
            <span class=" steps-number js-step-counter"></span>
            <span class="steps-item-text"
            >Click on the basket and fill<br> out the form.</span
            >
          </li>
          <li class="steps-item ">
            <span class=" steps-number js-step-counter"></span>
            <span class="steps-item-text"
            >Sit back and relax! Your fresh vegetables basket will be
                delivered.</span
            >
          </li>
        </ol>
      </div>
      <picture class="steps-picture">
        <source srcset="./img/steps/img-girl-desktop.webp 1x,./img/steps/img-girl-desktop@2x.webp 2x" media="(min-width: 1279px)" width='434' height='420'>
        <source srcset="./img/steps/img-girl-tablet.webp 1x, ./img/steps/img-girl-tablet@2x.webp 2x" media="(min-width: 768px)"  width='350' height='446'>
        <img class="steps-image" srcset="./img/steps/img-girl@2x.webp 2x" src="./img/steps/img-girl.webp" alt="girl with vegetables" width='258' height='319'>
      </picture>
    </div>
  </div>
</section>
