<!----------------------SECTION-VEGATABLES------------------------>

<section class="section-vegetables" id="products">
  <div class="container">
    <div class="row">
      <h2 class="vegetables-title">organic vegetables</h2>
      <p class="vegetables-description">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>

      <!----------------------SECTION-VEGATABLES-LIST------------------------>

      <ul class="vegetables-list list">
        <li class="vegetables-item">
          <a class="vegetables-link" href="#" title='carrot'></a>
          <h3 class="vegetables-name">Carrot</h3>
          <p class="product-type">Plant</p>
          <div class="product-image-wrapper">
            <picture class="product-pictrute">
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/carrot-tab-desktop-1x.webp 1x,
                  ./img/vegetables/tablet-desktop/carrot-tab-desktop-2x.webp 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/carrot-tab-desktop-1x.png 1x,
                  ./img/vegetables/tablet-desktop/carrot-tab-desktop-2x.png 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/carrot-1x.webp 1x,
                  ./img/vegetables/mobile/carrot-2x.webp 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/carrot-1x.png 1x,
                  ./img/vegetables/mobile/carrot-2x.png 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <img
                src="./img/vegetables/mobile/carrot-1x.webp"
                alt="Carrots"
                width="299"
                height="249"
              />
            </picture>
          </div>
          <p class="product-price">100 UAH / kg</p>
        </li>
        <li class="vegetables-item">
          <a class="vegetables-link" href="#" title='brussel'></a>
          <h3 class="vegetables-name">Brussel sprouts</h3>
          <p class="product-type">Plant</p>
          <div class="product-image-wrapper">
            <picture class="product-pictrute">
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/brussel-tab-desktop-1x.webp 1x,
                  ./img/vegetables/tablet-desktop/brussel-tab-desktop-2x.webp 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/brussel-tab-desktop-1x.png 1x,
                  ./img/vegetables/tablet-desktop/brussel-tab-desktop-2x.png 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/brussel-1x.webp 1x,
                  ./img/vegetables/mobile/brussel-2x.webp 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/brussel-1x.png 1x,
                  ./img/vegetables/mobile/brussel-2x.png 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <img
                class="product-img"
                src="./img/vegetables/mobile/brussel-1x.webp"
                alt="Brussel sprouts"
                width="299"
                height="249"
              />
            </picture>
          </div>
          <p class="product-price">80 UAH / kg</p>
        </li>
        <li class="vegetables-item">
          <a class="vegetables-link" href="#" title='tomato'></a>
          <h3 class="vegetables-name">Tomato</h3>
          <p class="product-type">Plant</p>
          <div class="product-image-wrapper">
            <picture class="product-pictrute">
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/tomato-tab-desktop-1x.webp 1x,
                  ./img/vegetables/tablet-desktop/tomato-tab-desktop-2x.webp 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/tomato-tab-desktop-1x.png 1x,
                  ./img/vegetables/tablet-desktop/tomato-tab-desktop-2x.png 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/tomato-1x.webp 1x,
                  ./img/vegetables/mobile/tomato-2x.webp 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/tomato-1x.png 1x,
                  ./img/vegetables/mobile/tomato-2x.png 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <img
                src="./img/vegetables/mobile/tomato-1x.webp"
                alt="Tomatoes"
                width="299"
                height="249"
              />
            </picture>
          </div>
          <p class="product-price">40 UAH / kg</p>
        </li>
        <li class="vegetables-item">
          <a class="vegetables-link" href="#" title='eggplant'></a>
          <h3 class="vegetables-name">Eggplant</h3>
          <p class="product-type">Plant</p>
          <div class="product-image-wrapper">
            <picture class="product-pictrute">
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/eggplant-tab-desktop-1x.webp 1x,
                  ./img/vegetables/tablet-desktop/eggplant-tab-desktop-2x.webp 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/eggplant-tab-desktop-1x.png 1x,
                  ./img/vegetables/tablet-desktop/eggplant-tab-desktop-2x.png 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/eggplant-1x.webp 1x,
                  ./img/vegetables/mobile/eggplant-2x.webp 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/eggplant-1x.png 1x,
                  ./img/vegetables/mobile/eggplant-2x.png 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <img
                src="./img/vegetables/mobile/eggplant-1x.webp"
                alt="Eggplant"
                width="299"
                height="249"
              />
            </picture>
          </div>
          <p class="product-price">60 UAH / kg</p>
        </li>
        <li class="vegetables-item">
          <a class="vegetables-link" href="#" title='potatoes'></a>
          <h3 class="vegetables-name">Sweet potatoes</h3>
          <p class="product-type">Plant</p>
          <div class="product-image-wrapper">
            <picture class="product-pictrute">
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/potatoes-tab-desktop-1x.webp 1x,
                  ./img/vegetables/tablet-desktop/potatoes-tab-desktop-2x.webp 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/potatoes-tab-desktop-1x.png 1x,
                  ./img/vegetables/tablet-desktop/potatoes-tab-desktop-2x.png 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/potatoes-1x.webp 1x,
                  ./img/vegetables/mobile/potatoes-2x.webp 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/potatoes-1x.png 1x,
                  ./img/vegetables/mobile/potatoes-2x.png 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <img
                src="./img/vegetables/mobile/potatoes-1x.webp"
                alt="Sweet potatoes"
                width="299"
                height="249"
              />
            </picture>
          </div>
          <p class="product-price">80 UAH / kg</p>
        </li>
        <li class="vegetables-item">
          <a class="vegetables-link" href="#" title='leek'></a>
          <h3 class="vegetables-name">Leek</h3>
          <p class="product-type">Plant</p>
          <div class="product-image-wrapper">
            <picture class="product-pictrute">
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/leek-tab-desktop-1x.webp 1x,
                  ./img/vegetables/tablet-desktop/leek-tab-desktop-2x.webp 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/leek-tab-desktop-1x.png 1x,
                  ./img/vegetables/tablet-desktop/leek-tab-desktop-2x.png 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/leek-1x.webp 1x,
                  ./img/vegetables/mobile/leek-2x.webp 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/leek-1x.png 1x,
                  ./img/vegetables/mobile/leek-2x.png 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <img
                src="./img/vegetables/mobile/leek-1x.webp"
                alt="Leek"
                width="299"
                height="249"
              />
            </picture>
          </div>
          <p class="product-price">50 UAH / kg</p>
        </li>
        <li class="vegetables-item">
          <a class="vegetables-link" href="#" title='mushrooms'></a>
          <h3 class="vegetables-name">Mushrooms</h3>
          <p class="product-type">Plant</p>
          <div class="product-image-wrapper">
            <picture class="product-pictrute">
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/mushrooms-tab-desktop-1x.webp 1x,
                  ./img/vegetables/tablet-desktop/mushrooms-tab-desktop-2x.webp 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/mushrooms-tab-desktop-1x.png 1x,
                  ./img/vegetables/tablet-desktop/mushrooms-tab-desktop-2x.png 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/mushrooms-1x.webp 1x,
                  ./img/vegetables/mobile/mushrooms-2x.webp 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/mushrooms-1x.png 1x,
                  ./img/vegetables/mobile/mushrooms-2x.png 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <img
                src="./img/vegetables/mobile/mushrooms-1x.webp"
                alt="Mushrooms"
                width="299"
                height="249"
              />
            </picture>
          </div>
          <p class="product-price">40 UAH / kg</p>
        </li>
        <li class="vegetables-item">
          <a class="vegetables-link" href="#" title='corn'></a>
          <h3 class="vegetables-name">Corn</h3>
          <p class="product-type">Plant</p>
          <div class="product-image-wrapper">
            <picture class="product-pictrute">
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/corn-tab-desktop-1x.webp 1x,
                  ./img/vegetables/tablet-desktop/corn-tab-desktop-2x.webp 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/corn-tab-desktop-1x.png 1x,
                  ./img/vegetables/tablet-desktop/corn-tab-desktop-2x.png 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/corn-1x.webp 1x,
                  ./img/vegetables/mobile/corn-2x.webp 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <source
                srcset="
                  ./img/vegetables/mobile/corn-1x.png 1x,
                  ./img/vegetables/mobile/corn-2x.png 2x
                "
                media="(max-width: 767px)"
                width="299"
                height="249"
              />
              <img
                src="./img/vegetables/mobile/corn-1x.webp"
                alt="Corn"
                width="299"
                height="249"
              />
            </picture>
          </div>
          <p class="product-price">60 UAH / kg</p>
        </li>
        <li class="vegetables-item">
          <a class="vegetables-link" href="#" title='radish'></a>
          <h3 class="vegetables-name">Radish</h3>
          <p class="product-type">Plant</p>
          <div class="product-image-wrapper">
            <picture class="product-pictrute">
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/radish-tab-desktop-1x.webp 1x,
                  ./img/vegetables/tablet-desktop/radish-tab-desktop-2x.webp 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <source
                srcset="
                  ./img/vegetables/tablet-desktop/radish-tab-desktop-1x.png 1x,
                  ./img/vegetables/tablet-desktop/radish-tab-desktop-2x.png 2x
                "
                media="(min-width: 768px)"
                width="321"
                height="261"
              />
              <img
                src="./img/vegetables/tablet-desktop/radish-tab-desktop-1x.webp"
                alt="Corn"
                width="321"
                height="261"
              />
            </picture>
          </div>
          <p class="product-price">90 UAH / kg</p>
        </li>
      </ul>

      <!------------------------SECTION-VEGATABLES-BUTTON-------------------------->

      <button class="vegetables-button js-open-modal" type="button">
        <span class="button-container">
          <svg class="vegetables-button-icon" width="14" height="14">
            <use
              href="./img/vegetables/vegetables-sprite.svg#icon-button-arrow"
            ></use>
          </svg>
          <span class="vegetables-button-name">order</span>
        </span>
      </button>
    </div>
  </div>
</section>
