.callback {
  padding-top: 60px;
  padding-bottom: 80px;
}

.wrapp-callback {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.wrapp-callback-text {
  max-width: 322px;
}

.callback-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.96px;
  text-shadow: var(--shadow);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.callback-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-shadow: var(--shadow);
  text-align: center;
  margin-bottom: 40px;
}

.callback-form {
  width: 100%;
  height: 100%;
}

.wrapp-callback-btn {
  position: relative;
  max-width: 100%;
}

.callback-input {
  border-radius: 100px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  padding-left: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  max-width: 335px;
  font-size: 14px;
  letter-spacing: -0.56px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--cubic);
}

.callback-input:hover,
.callback-input:focus {
  border-color: #a1c487;
}

.wrapp-callback-btn:focus-within .callback-input {
  border-color: 1px solid #a1c487;
}

.callback-btn {
  position: absolute;
  right: 0;
  padding: 15px 35px;
  border-radius: 100px;
  background: var(--color-37);
  color: var(--color-white);
  font-size: 14px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  width: 105px;
  height: 48px;
  transition: background-color var(--cubic);
}

.callback-btn:hover,
.callback-btn:focus {
  background-color: var(--color-35);
}

.wrapp-callback-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 388px;
  background-color: #faf3e7;
  border-radius: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapp-callback-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/callback-img/el.webp);
  background-repeat: repeat;
  background-position: 30px 5px;
  opacity: 0.69;
}

.callback-img {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .callback {
    /* padding-top: 100px; */
    padding-bottom: 173px;
  }

  .wrapp-callback {
    flex-direction: column;
    align-content: center;

    margin-bottom: 80px;
  }

  .wrapp-callback-text {
    width: 499px;
    max-width: unset;
  }

  .callback-title {
    text-align: center;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }

  .callback-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }

  .callback-form {
    display: flex;
    width: 499px;
    justify-content: center;
  }

  .wrapp-callback-btn {
    width: 355px;
  }

  .wrapp-callback-img {
    width: 100%;
    height: 463px;
    border-radius: 80px;
  }

  .callback-img {
    left: 50%;
    transform: translate(-50%);
  }
}

@media screen and (min-width: 1280px) {
  .callback {
    /* padding-top: 124px; */
    padding-bottom: 124px;
  }

  .callback-row {
    display: flex;
    align-items: center;
  }

  .wrapp-callback {
    align-content: flex-start;
    margin-right: 77px;
    margin-bottom: 0;
  }

  .wrapp-callback-text {
    width: 614px;
  }

  .callback-title {
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -1.92px;
    text-align: left;
    margin-bottom: 40px;
  }

  .callback-text {
    width: 523px;
    text-align: left;
    margin-bottom: 80px;
  }

  .callback-form {
    justify-content: left;
  }

  .wrapp-callback-img {
    width: 525px;
    height: 536px;
  }
}
