.footer {
    background: #EAF7E5;
    }
    
    .footer-container {
    padding-top: 80px;
    padding-bottom: 80px;
    }
    
    .footer-logo-block{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: center;
    gap: 20px;
    }
    
    .footer-logo {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.56px;
    display: flex;
    justify-content: center;
    }
    
    .foter-logo-icon {
    padding-right: 8px;
    }
    
    .footer-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    }
    
    .footer-link {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    }
    
    .footer-link:hover , .footer-link:focus{
    color: #A1C487;
    transition: ;
    }
    
    .soc-address-block {
    margin-top: 40px;
    }
    
    .footer-soc-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
    }
    
    .footer-soc-item {
    width: 40px;
    height: 40px;
    }
    
    .footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #141414;
    transition: var(--transition-dur-and-func);
    }
    
    
    .footer-soc-link:hover , .footer-soc-link:focus{
    border-color: var(--button-accent-color);
    color: var(--button-accent-color);
    }
    
    .footer-soc-icon{
    fill: currentColor;
    }
    
    .footer-address-list {
    text-align: center;
    }
    
    .footer-tel-link{
    font-size: 14px;
    font-style: normal;
    line-height: 1.28;
    transition: var(--transition-dur-and-func);
    }
    
    .footer-tel-link:hover , .footer-tel-link:focus{
    color: var(--button-color);
    }
     
    .footer-address-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    
    display: block;
    max-width: 135px;
    margin: 0 auto;
    transition: var(--transition-dur-and-func);
    }
    
    .footer-address-link:hover , .footer-address-link:focus{
    color: var(--button-color);
    }
    
    .footer-address-item:first-child {
    margin-bottom: 20px;
    }
    
    /* __________________MEDIA TAB_________________ */
    
    @media screen and (min-width:768px) and (max-width:1279px){
    
    .footer > .container{
    max-width: 768px;
    }
    
    .footer-container{
    display: flex;
    }
    
    .footer-upper{
    max-width: 349px;
    }
    
    .footer-logo-block{
    display: block;
    max-width: 349px;
    }
    
    .footer-logo{
    margin-top: 20px;
    }
    
    .footer-list{
    justify-content: center;
    }
    
    .footer-soc-list{
    justify-content: start;
    }
    
    .footer-soc-item{
    width: 44px;
    height: 44px;
    }
    
    .footer-soc-icon{
    width: 28px;
    height: 28px;
    }
    
    .footer-tel-link{
    font-size: 18px;
    line-height: 1.33;
    }
    
    .soc-address-block{
    margin-top: 0;
    margin-left: auto;
    }
    
    .footer-address-list{
    text-align: start;
    }
    
    .footer-address-link{
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    max-width: 173px;
    margin-left: 0;
    }
    }
    
    /* ____________________MEDIA DESCTOP________________ */
    
    @media screen and (min-width:1280px){
    
    .footer > .container{
    max-width: 1170px;
    }
    
    .footer-container{
    display: flex;
    }
    
    .footer-upper{
    display: flex;
    margin-right: 166px;
    }
    
    .footer-logo-block{
    display: block;
    margin-bottom: 0;
    margin-right: 166px;
    }
    
    .footer-logo{
    margin-top: 20px;
    }
    
    .footer-list{
    align-items: center;
    }
    
    .footer-soc-list{
    justify-content: start;
    }
    
    .footer-soc-item{
     width: 44px;
    height: 44px;
    }
      
    .footer-soc-icon{
    width: 28px;
    height: 28px;
    }
    
    .footer-tel-link{
    font-size: 18px;
    }
    
    .footer-address-link{
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    text-align: start;
    max-width: 173px;
    margin-left: 0;
    }
    
    .soc-address-block{
    margin-top: 0;
    }
    }