.section.how {
  padding-top: 80px;
  padding-bottom: 20px;
}
.how-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: flex-start;
  margin-bottom: 80px;
}
.how-top-wraper {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.how-text-title {
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  text-transform: uppercase;
}
.how-text-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.how-text-first {
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
}
.how-text-second {
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

@media screen and (min-width: 768px) {
  .section.how {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .how-text {
    row-gap: 40px;
    margin-bottom: 100px;
  }
  .how-top-wraper {
    flex-direction: row;
    gap: unset;
  }
  .how-text-title-container {
    width: 100%;
  }
  .how-text-title {
    max-width: 386px;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }
  .how-text-img-container {
    min-width: 310px;
    height: 176px;
  }
  .how-text-img {
    width: 100%;
    height: 100%;
  }
  .how-text-container {
    flex-direction: row;
    gap: 20px;
  }
  .how-text-first {
    max-width: 317px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
  .how-text-second {
    max-width: 279px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
}

@media screen and (min-width: 1280px) {
  .section.how {
    padding-top: 124px;
    padding-bottom: 64px;
  }

  .how-text-title {
    max-width: 614px;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -1.92px;
  }
  .how-text-img-container {
    min-width: 410px;
    height: 170px;
  }
  .how-text {
    margin-bottom: 124px;
  }
  .how-text-container {
    gap: 40px;
  }
  .how-text-first {
    max-width: 353px;
  }
  .how-text-second {
    max-width: 294px;
  }
}
